In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
import numpy as np

Archivos entropy (siempre split)

prueba

In [3]:
from pathlib import Path
path = Path('../data_inputs')

In [5]:
df_entropy_nofilter = pd.read_csv(path/'entropy-nofilter.csv.gz', delimiter=',')
codec_filter = np.repeat('entropy-nofilter', 55296)
df_entropy_nofilter['codec_filter'] = codec_filter


df_entropy_nofilter.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_entropy_nofitler = df_entropy_nofilter[df_entropy_nofilter.nchunk.isin(value_nchunk)]

In [6]:
df_entropy_shuffle = pd.read_csv(path/'entropy-shuffle.csv.gz', delimiter=',')
codec_filter = np.repeat('entropy-shuffle', 55296)
df_entropy_shuffle['codec_filter'] = codec_filter


df_entropy_shuffle.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_entropy_shuffle = df_entropy_shuffle[df_entropy_shuffle.nchunk.isin(value_nchunk)]

In [7]:
df_entropy_bitshuffle = pd.read_csv(path/'entropy-bitshuffle.csv.gz', delimiter=',')
codec_filter = np.repeat('entropy-bitshuffle', 55296)
df_entropy_bitshuffle['codec_filter'] = codec_filter

df_entropy_bitshuffle.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_entropy_bitshuffle = df_entropy_bitshuffle[df_entropy_bitshuffle.nchunk.isin(value_nchunk)]

Archivos c√≥decs-split

In [8]:
df_blosclz_nofilter_split = pd.read_csv(path/'blosclz-nofilter-split.csv.gz', delimiter=',')
codec_filter = np.repeat('blosclz-nofilter-split', 55296)
df_blosclz_nofilter_split['codec_filter'] = codec_filter

df_blosclz_nofilter_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_blosclz_nofilter_split = df_blosclz_nofilter_split[df_blosclz_nofilter_split.nchunk.isin(value_nchunk)]

In [44]:
df_blosclz_shuffle_split = pd.read_csv(path/'blosclz-shuffle-split.csv.gz', delimiter=',')
codec_filter = np.repeat('blosclz-shuffle-split', 55296)
df_blosclz_shuffle_split['codec_filter'] = codec_filter

df_blosclz_shuffle_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_blosclz_shuffle_split = df_blosclz_shuffle_split[df_blosclz_shuffle_split.nchunk.isin(value_nchunk)]

In [45]:
df_blosclz_bitshuffle_split = pd.read_csv(path/'blosclz-bitshuffle-split.csv.gz', delimiter=',')
codec_filter = np.repeat('blosclz-bitshuffle-split', 55296)
df_blosclz_bitshuffle_split['codec_filter'] = codec_filter

df_blosclz_bitshuffle_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_blosclz_bitshuffle_split = df_blosclz_bitshuffle_split[df_blosclz_bitshuffle_split.nchunk.isin(value_nchunk)]

In [46]:
df_lz4_nofilter_split = pd.read_csv(path/'lz4-nofilter-split.csv.gz', delimiter=',')
codec_filter = np.repeat('lz4-nofilter-split', 55296)
df_lz4_nofilter_split['codec_filter'] = codec_filter

df_lz4_nofilter_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_lz4_nofilter_split = df_lz4_nofilter_split[df_lz4_nofilter_split.nchunk.isin(value_nchunk)]

In [47]:
df_lz4_shuffle_split = pd.read_csv(path/'lz4-shuffle-split.csv.gz', delimiter=',')
codec_filter = np.repeat('lz4-shuffle-split', 55296)
df_lz4_shuffle_split['codec_filter'] = codec_filter

df_lz4_shuffle_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_lz4_shuffle_split = df_lz4_shuffle_split[df_lz4_shuffle_split.nchunk.isin(value_nchunk)]

In [48]:
df_lz4_bitshuffle_split = pd.read_csv(path/'lz4-bitshuffle-split.csv.gz', delimiter=',')
codec_filter = np.repeat('lz4-bitshuffle-split', 55296)
df_lz4_bitshuffle_split['codec_filter'] = codec_filter

df_lz4_bitshuffle_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_lz4_bitshuffle_split = df_lz4_bitshuffle_split[df_lz4_bitshuffle_split.nchunk.isin(value_nchunk)]

In [49]:
df_lz4hc_nofilter_split = pd.read_csv(path/'lz4hc-nofilter-split.csv.gz', delimiter=',')
codec_filter = np.repeat('lz4hc-nofilter-split', 55296)
df_lz4hc_nofilter_split['codec_filter'] = codec_filter

df_lz4hc_nofilter_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_lz4hc_nofilter_split = df_lz4hc_nofilter_split[df_lz4hc_nofilter_split.nchunk.isin(value_nchunk)]

In [50]:
df_lz4hc_bitshuffle_split = pd.read_csv(path/'lz4hc-bitshuffle-split.csv.gz', delimiter=',')
codec_filter = np.repeat('lz4hc-bitshuffle-split', 55296)
df_lz4hc_bitshuffle_split['codec_filter'] = codec_filter

df_lz4hc_bitshuffle_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_lz4hc_bitshuffle_split = df_lz4hc_bitshuffle_split[df_lz4hc_bitshuffle_split.nchunk.isin(value_nchunk)]

In [51]:
df_lz4hc_shuffle_split = pd.read_csv(path/'lz4hc-shuffle-split.csv.gz', delimiter=',')
codec_filter = np.repeat('lz4hc-shuffle-split', 55296)
df_lz4hc_shuffle_split['codec_filter'] = codec_filter

df_lz4hc_shuffle_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_lz4hc_shuffle_split = df_lz4hc_shuffle_split[df_lz4hc_shuffle_split.nchunk.isin(value_nchunk)]

In [52]:
df_zlib_nofilter_split = pd.read_csv(path/'zlib-nofilter-split.csv.gz', delimiter=',')
codec_filter = np.repeat('zlib-nofilter-split', 55296)
df_zlib_nofilter_split['codec_filter'] = codec_filter

df_zlib_nofilter_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_zlib_nofilter_split = df_zlib_nofilter_split[df_zlib_nofilter_split.nchunk.isin(value_nchunk)]

In [53]:
df_zlib_shuffle_split = pd.read_csv(path/'zlib-shuffle-split.csv.gz', delimiter=',')
codec_filter = np.repeat('zlib-shuffle-split', 55296)
df_zlib_shuffle_split['codec_filter'] = codec_filter

df_zlib_shuffle_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_zlib_shuffle_split = df_zlib_shuffle_split[df_zlib_shuffle_split.nchunk.isin(value_nchunk)]

In [54]:
df_zlib_bitshuffle_split = pd.read_csv(path/'zlib-bitshuffle-split.csv.gz', delimiter=',')
codec_filter = np.repeat('zlib-bitshuffle-split', 55296)
df_zlib_bitshuffle_split['codec_filter'] = codec_filter

df_zlib_bitshuffle_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_zlib_bitshuffle_split = df_zlib_bitshuffle_split[df_zlib_bitshuffle_split.nchunk.isin(value_nchunk)]

In [55]:
df_zstd_nofilter_split = pd.read_csv(path/'zstd-nofilter-split.csv.gz', delimiter=',')
codec_filter = np.repeat('zstd-nofilter-split', 55296)
df_zstd_nofilter_split['codec_filter'] = codec_filter

df_zstd_nofilter_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_zstd_nofilter_split = df_zstd_nofilter_split[df_zstd_nofilter_split.nchunk.isin(value_nchunk)]

In [56]:
df_zstd_shuffle_split = pd.read_csv(path/'zstd-shuffle-split.csv.gz', delimiter=',')
codec_filter = np.repeat('zstd-shuffle-split', 55296)
df_zstd_shuffle_split['codec_filter'] = codec_filter

df_zstd_shuffle_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_zstd_shuffle_split = df_zstd_shuffle_split[df_zstd_shuffle_split.nchunk.isin(value_nchunk)]

In [57]:
df_zstd_bitshuffle_split = pd.read_csv(path/'zstd-bitshuffle-split.csv.gz', delimiter=',')
codec_filter = np.repeat('zstd-bitshuffle-split', 55296)
df_zstd_bitshuffle_split['codec_filter'] = codec_filter

df_zstd_bitshuffle_split.rename(columns = {'cratio':'cratio', ' speed':'speed', ' special_vals':'special_vals', ' nchunk':'nchunk', ' category':'category'}, inplace = True)
value_nchunk = [0,0]
filtered_df_zstd_bitshuffle_split = df_zstd_bitshuffle_split[df_zstd_bitshuffle_split.nchunk.isin(value_nchunk)]

# DEEP LEARNING - RED NEURONAL

In [58]:
data_real = pd.DataFrame()
data_real = pd.concat([data_real, filtered_df_blosclz_nofilter_split, 
                      filtered_df_lz4_nofilter_split, 
                      filtered_df_lz4hc_nofilter_split, 
                      filtered_df_zlib_nofilter_split, 
                      filtered_df_zstd_nofilter_split, 
                      
                      filtered_df_blosclz_shuffle_split, 
                      filtered_df_lz4_shuffle_split, 
                      filtered_df_lz4hc_shuffle_split, 
                      filtered_df_zlib_shuffle_split, 
                      filtered_df_zstd_shuffle_split, 
                      
                      filtered_df_blosclz_bitshuffle_split, 
                      filtered_df_lz4_bitshuffle_split, 
                      filtered_df_lz4hc_bitshuffle_split, 
                      filtered_df_zlib_bitshuffle_split, 
                      filtered_df_zstd_bitshuffle_split], axis = 0)

labels_real = pd.Series(data_real['category'])

data_real = data_real.drop(['special_vals', 'nchunk', 'codec_filter'], axis = 1)
#data_real = data_real.drop(['category'], axis = 1)
data_real

      cratio         speed  category
0      110.0  2.180000e+09         0
1       83.4  2.700000e+09         0
2       73.1  3.240000e+09         0
3       58.5  2.390000e+09         0
4       42.0  1.790000e+09         0
..       ...           ...       ...
251     14.6  1.970000e+07        14
252  16400.0  7.180000e+09        14
253  16400.0  5.060000e+09        14
254     26.6  2.410000e+07        14
255     30.6  3.340000e+07        14

[3840 rows x 3 columns]

In [85]:
data_entropy = pd.DataFrame()
data_entropy = pd.concat([data_entropy, filtered_df_entropy_nofitler, 
                         filtered_df_entropy_shuffle, 
                          filtered_df_entropy_bitshuffle], axis = 0)
data_entropy

,cratio,speed,special_vals,nchunk,category,codec_filter
0,70.30,1.530000e+10,0,0,-1,entropy-nofilter
1,44.40,1.730000e+10,0,0,-1,entropy-nofilter
2,31.20,1.690000e+10,0,0,-1,entropy-nofilter
3,27.40,1.530000e+10,0,0,-1,entropy-nofilter
4,55.90,1.810000e+10,0,0,-1,entropy-nofilter
...,...,...,...,...,...,...
251,1.34,2.230000e+09,0,0,-1,entropy-bitshuffle
252,16400.00,7.830000e+09,1,0,-1,entropy-bitshuffle
253,16400.00,7.980000e+09,1,0,-1,entropy-bitshuffle
254,156.00,1.060000e+10,0,0,-1,entropy-bitshuffle
255,78.40,2.250000e+10,0,0,-1,entropy-bitshuffle

Quiero la mayor cratio/mean(cratio) + speed/mean(speed) para cada bloque (split en este caso).

In [63]:
#Ejemplo simple
df = pd.DataFrame({'a' : [10,20], 'b' : [11,21], 'c' : [12,22]})
df.insert(3, "suma", df.sum(axis=1))
df.insert(4, "min", df.min(axis=1))
df

    a   b   c  suma  min
0  10  11  12    33   10
1  20  21  22    63   20

In [64]:
#Me quedo con las columnas cratio y speed
df1 = pd.DataFrame()
df1 = pd.concat([df1, filtered_df_blosclz_nofilter_split], axis = 0)
df1 = df1.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

#A√±ado la columna que contiene la suma de cratio y speed
df1.insert(2, "0", df1.sum(axis=1))

#Me quedo solo con la columna suma
df1 = df1.drop(['cratio', 'speed'], axis = 1)

#Este dataframe contiene la suma cratio + speed para cada bloque 
#(en este caso para la combinaci√≥n blosclz - nofilter - split)

In [65]:
df3 = pd.DataFrame()
df3 = pd.concat([df3, filtered_df_lz4_nofilter_split], axis = 0)
df3 = df3.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df3.insert(2, "2", df3.sum(axis=1))
df3 = df3.drop(['cratio', 'speed'], axis = 1)

In [66]:
df5 = pd.DataFrame()
df5 = pd.concat([df5, filtered_df_lz4hc_nofilter_split], axis = 0)
df5 = df5.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df5.insert(2, "4", df5.sum(axis=1))
df5 = df5.drop(['cratio', 'speed'], axis = 1)

In [67]:
df7 = pd.DataFrame()
df7 = pd.concat([df7, filtered_df_zlib_nofilter_split], axis = 0)
df7 = df7.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df7.insert(2, "6", df7.sum(axis=1))
df7 = df7.drop(['cratio', 'speed'], axis = 1)

In [72]:
df9 = pd.DataFrame()
df9 = pd.concat([df9, filtered_df_zstd_nofilter_split], axis = 0)
df9 = df9.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df9.insert(2, "8", df9.sum(axis=1))
df9 = df9.drop(['cratio', 'speed'], axis = 1)

In [73]:
df11 = pd.DataFrame()
df11 = pd.concat([df11, filtered_df_blosclz_shuffle_split], axis = 0)
df11 = df11.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df11.insert(2, "10", df11.sum(axis=1))
df11 = df11.drop(['cratio', 'speed'], axis = 1)

In [74]:
df13 = pd.DataFrame()
df13 = pd.concat([df13, filtered_df_lz4_shuffle_split], axis = 0)
df13 = df13.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df13.insert(2, "12", df13.sum(axis=1))
df13 = df13.drop(['cratio', 'speed'], axis = 1)

In [75]:
df15 = pd.DataFrame()
df15 = pd.concat([df15, filtered_df_lz4hc_shuffle_split], axis = 0)
df15 = df15.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df15.insert(2, "14", df15.sum(axis=1))
df15 = df15.drop(['cratio', 'speed'], axis = 1)

In [76]:
df17 = pd.DataFrame()
df17 = pd.concat([df17, filtered_df_zlib_shuffle_split], axis = 0)
df17 = df17.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df17.insert(2, "16", df17.sum(axis=1))
df17 = df17.drop(['cratio', 'speed'], axis = 1)

In [77]:
df19 = pd.DataFrame()
df19 = pd.concat([df19, filtered_df_zstd_shuffle_split], axis = 0)
df19 = df19.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df19.insert(2, "18", df19.sum(axis=1))
df19 = df19.drop(['cratio', 'speed'], axis = 1)

In [78]:
df21 = pd.DataFrame()
df21 = pd.concat([df21, filtered_df_blosclz_bitshuffle_split], axis = 0)
df21 = df21.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df21.insert(2, "20", df21.sum(axis=1))
df21 = df21.drop(['cratio', 'speed'], axis = 1)

In [79]:
df23 = pd.DataFrame()
df23 = pd.concat([df23, filtered_df_lz4_bitshuffle_split], axis = 0)
df23 = df23.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df23.insert(2, "22", df23.sum(axis=1))
df23 = df23.drop(['cratio', 'speed'], axis = 1)

In [80]:
df25 = pd.DataFrame()
df25 = pd.concat([df25, filtered_df_lz4hc_bitshuffle_split], axis = 0)
df25 = df25.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df25.insert(2, "24", df25.sum(axis=1))
df25 = df25.drop(['cratio', 'speed'], axis = 1)

In [81]:
df27 = pd.DataFrame()
df27 = pd.concat([df27, filtered_df_zlib_bitshuffle_split], axis = 0)
df27 = df27.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df27.insert(2, "26", df27.sum(axis=1))
df27 = df27.drop(['cratio', 'speed'], axis = 1)

In [82]:
df29 = pd.DataFrame()
df29 = pd.concat([df29, filtered_df_zstd_bitshuffle_split], axis = 0)
df29 = df29.drop(['special_vals', 'nchunk', 'category', 'codec_filter'], axis = 1)

df29.insert(2, "28", df29.sum(axis=1))
df29 = df29.drop(['cratio', 'speed'], axis = 1)

In [83]:
df = pd.DataFrame()
df = pd.concat([df1, df3, df5, df7, df9, df11, df13, df15, df17, df19, df21, df23, df25, df27, df29], axis=1)

df

,0,2,4,6,8,10,12,14,16,18,20,22,24,26,28
0,2.180000e+09,1.330001e+08,56100112.0,60400208.0,21400287.0,5.780016e+09,7.380016e+09,7.420016e+09,7.490016e+09,7.220016e+09,7.320016e+09,5.910016e+09,7.670016e+09,7.560016e+09,7.380016e+09
1,2.700000e+09,1.720000e+09,103000087.1,144000162.0,50600218.0,6.960016e+09,7.450016e+09,7.530016e+09,7.560016e+09,7.350016e+09,7.670016e+09,6.960016e+09,7.710016e+09,7.670016e+09,7.380016e+09
2,3.240000e+09,1.630000e+09,78700076.3,133000135.0,53200188.0,1.280000e+09,8.690000e+08,5.770005e+07,9.340008e+07,3.680009e+07,1.100000e+09,1.020000e+09,1.170001e+08,1.300001e+08,4.080010e+07
3,2.390000e+09,1.440000e+09,76800068.6,124000117.0,54700162.0,1.950000e+09,9.800000e+08,5.810006e+07,9.940008e+07,4.130011e+07,1.570000e+09,1.270000e+09,1.000001e+08,1.050001e+08,6.010012e+07
4,1.790000e+09,1.280000e+09,64900046.9,103000079.7,46600118.0,6.900016e+09,7.050016e+09,7.560016e+09,3.230016e+09,7.050016e+09,6.050016e+09,7.250016e+09,7.670016e+09,7.710016e+09,7.790016e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,1.900000e+09,1.210000e+09,52700073.2,112000115.0,38400114.0,2.950000e+08,3.240000e+08,2.550001e+07,4.110001e+07,1.500002e+07,4.490000e+08,4.140000e+08,6.890001e+07,6.000001e+07,1.970001e+07
252,2.300000e+09,1.660000e+09,59100120.0,128000205.0,41300204.0,7.250016e+09,4.370016e+09,5.720016e+09,7.320016e+09,7.320016e+09,7.320016e+09,7.050016e+09,6.030016e+09,6.930016e+09,7.180016e+09
253,1.410000e+09,1.290000e+09,48500067.6,92600098.3,34700096.7,7.790016e+09,7.250016e+09,7.640016e+09,7.280016e+09,7.830016e+09,7.710016e+09,4.320016e+09,7.150016e+09,4.250016e+09,5.060016e+09
254,9.270000e+08,6.860000e+08,41600030.4,65900046.2,25300046.2,4.250000e+08,4.650000e+08,2.900001e+07,5.180002e+07,2.040002e+07,8.000000e+08,6.580000e+08,8.320002e+07,7.890002e+07,2.410003e+07
255,6.650000e+08,4.730000e+08,35000019.3,55400030.1,19700030.1,5.670000e+08,4.700000e+08,3.090002e+07,5.350002e+07,2.150003e+07,8.850000e+08,7.180000e+08,6.920002e+07,8.640003e+07,3.340003e+07

In [84]:
pos_min = df.idxmin(axis=1)
pos_min = pd.DataFrame(pos_min, columns=['pos_min'])

df_ = pd.concat([df, pos_min], axis=1)
df_

,0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,pos_min
0,2.180000e+09,1.330001e+08,56100112.0,60400208.0,21400287.0,5.780016e+09,7.380016e+09,7.420016e+09,7.490016e+09,7.220016e+09,7.320016e+09,5.910016e+09,7.670016e+09,7.560016e+09,7.380016e+09,8
1,2.700000e+09,1.720000e+09,103000087.1,144000162.0,50600218.0,6.960016e+09,7.450016e+09,7.530016e+09,7.560016e+09,7.350016e+09,7.670016e+09,6.960016e+09,7.710016e+09,7.670016e+09,7.380016e+09,8
2,3.240000e+09,1.630000e+09,78700076.3,133000135.0,53200188.0,1.280000e+09,8.690000e+08,5.770005e+07,9.340008e+07,3.680009e+07,1.100000e+09,1.020000e+09,1.170001e+08,1.300001e+08,4.080010e+07,18
3,2.390000e+09,1.440000e+09,76800068.6,124000117.0,54700162.0,1.950000e+09,9.800000e+08,5.810006e+07,9.940008e+07,4.130011e+07,1.570000e+09,1.270000e+09,1.000001e+08,1.050001e+08,6.010012e+07,18
4,1.790000e+09,1.280000e+09,64900046.9,103000079.7,46600118.0,6.900016e+09,7.050016e+09,7.560016e+09,3.230016e+09,7.050016e+09,6.050016e+09,7.250016e+09,7.670016e+09,7.710016e+09,7.790016e+09,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,1.900000e+09,1.210000e+09,52700073.2,112000115.0,38400114.0,2.950000e+08,3.240000e+08,2.550001e+07,4.110001e+07,1.500002e+07,4.490000e+08,4.140000e+08,6.890001e+07,6.000001e+07,1.970001e+07,18
252,2.300000e+09,1.660000e+09,59100120.0,128000205.0,41300204.0,7.250016e+09,4.370016e+09,5.720016e+09,7.320016e+09,7.320016e+09,7.320016e+09,7.050016e+09,6.030016e+09,6.930016e+09,7.180016e+09,8
253,1.410000e+09,1.290000e+09,48500067.6,92600098.3,34700096.7,7.790016e+09,7.250016e+09,7.640016e+09,7.280016e+09,7.830016e+09,7.710016e+09,4.320016e+09,7.150016e+09,4.250016e+09,5.060016e+09,8
254,9.270000e+08,6.860000e+08,41600030.4,65900046.2,25300046.2,4.250000e+08,4.650000e+08,2.900001e+07,5.180002e+07,2.040002e+07,8.000000e+08,6.580000e+08,8.320002e+07,7.890002e+07,2.410003e+07,18
255,6.650000e+08,4.730000e+08,35000019.3,55400030.1,19700030.1,5.670000e+08,4.700000e+08,3.090002e+07,5.350002e+07,2.150003e+07,8.850000e+08,7.180000e+08,6.920002e+07,8.640003e+07,3.340003e+07,8

INPUT: entropy cratio - entropy speed - millor combinaci√≥

INPUT: Classificar per filtre del entropy, i posteriorment juntar verticalment els 3 entropys

In [301]:
df_cratio_speed = data_entropy[['cratio', 'speed']]
#df_pos = df_['pos_min']
df_input = pd.concat([df_cratio_speed, df_pos], axis=1)

df_input
#cratio del entropy
#speed del entropy
#mejor categoria asociada

       cratio         speed pos_min
0       70.30  1.530000e+10       8
1       44.40  1.730000e+10       8
2       31.20  1.690000e+10      18
3       27.40  1.530000e+10      18
4       55.90  1.810000e+10       8
..        ...           ...     ...
758      1.34  2.230000e+09     NaN
759  16400.00  7.830000e+09     NaN
760  16400.00  7.980000e+09     NaN
761    156.00  1.060000e+10     NaN
762     78.40  2.250000e+10     NaN

[763 rows x 3 columns]

INPUT per al entropy amb NOFILTER

In [92]:
df_cratio_speed = filtered_df_entropy_nofitler[['cratio', 'speed']]
df_pos = df_['pos_min']
df_input_nofilter = pd.concat([df_cratio_speed, df_pos], axis=1)

df_input_nofilter

     cratio         speed pos_min
0      70.3  1.530000e+10       8
1      44.4  1.730000e+10       8
2      31.2  1.690000e+10      18
3      27.4  1.530000e+10      18
4      55.9  1.810000e+10       8
..      ...           ...     ...
251    44.9  1.920000e+10      18
252   156.0  1.590000e+10       8
253    88.6  2.190000e+10       8
254    17.8  1.300000e+10      18
255    13.1  1.220000e+10       8

[256 rows x 3 columns]

INPUT per al entropy amb SHUFFLE

In [96]:
df_cratio_speed = filtered_df_entropy_shuffle[['cratio', 'speed']]
df_pos = df_['pos_min']
df_input_shuffle = pd.concat([df_cratio_speed, df_pos], axis=1)

df_input_shuffle

       cratio         speed pos_min
0    16400.00  7.560000e+09       8
1    16400.00  7.670000e+09       8
2       39.70  1.510000e+10      18
3       36.50  1.970000e+10      18
4    16400.00  7.640000e+09       8
..        ...           ...     ...
251      3.43  4.090000e+09      18
252  16400.00  7.900000e+09       8
253  16400.00  7.790000e+09       8
254    107.00  2.350000e+10      18
255    107.00  2.250000e+10       8

[256 rows x 3 columns]

INPUT per al entropy amb BITSHUFFLE

In [97]:
df_cratio_speed = filtered_df_entropy_bitshuffle[['cratio', 'speed']]
df_pos = df_['pos_min']
df_input_bitshuffle = pd.concat([df_cratio_speed, df_pos], axis=1)

df_input_bitshuffle

       cratio         speed pos_min
0    16400.00  7.560000e+09       8
1    16400.00  7.830000e+09       8
2      156.00  7.980000e+09      18
3       18.70  1.180000e+10      18
4    16400.00  7.670000e+09       8
..        ...           ...     ...
251      1.34  2.230000e+09      18
252  16400.00  7.830000e+09       8
253  16400.00  7.980000e+09       8
254    156.00  1.060000e+10      18
255     78.40  2.250000e+10       8

[256 rows x 3 columns]

INPUT

In [98]:
df_input = pd.DataFrame()
df_input = pd.concat([df_input, df_input_nofilter, df_input_shuffle, df_input_bitshuffle], axis = 0)
df_input

       cratio         speed pos_min
0       70.30  1.530000e+10       8
1       44.40  1.730000e+10       8
2       31.20  1.690000e+10      18
3       27.40  1.530000e+10      18
4       55.90  1.810000e+10       8
..        ...           ...     ...
251      1.34  2.230000e+09      18
252  16400.00  7.830000e+09       8
253  16400.00  7.980000e+09       8
254    156.00  1.060000e+10      18
255     78.40  2.250000e+10       8

[768 rows x 3 columns]

In [305]:
x_train = df_input[['cratio', 'speed']]
x_train

     cratio         speed
0      70.3  1.530000e+10
1      44.4  1.730000e+10
2      31.2  1.690000e+10
3      27.4  1.530000e+10
4      55.9  1.810000e+10
..      ...           ...
251    44.9  1.920000e+10
252   156.0  1.590000e+10
253    88.6  2.190000e+10
254    17.8  1.300000e+10
255    13.1  1.220000e+10

[256 rows x 2 columns]

In [323]:
y_train = df_input[['pos_min']]
y_train

    pos_min
0         8
1         8
2        18
3        18
4         8
..      ...
251      18
252       8
253       8
254      18
255       8

[256 rows x 1 columns]

In [326]:
type(x_train)

pandas.core.frame.DataFrame

In [327]:
type(y_train)

numpy.ndarray

In [335]:
#y_train = np.array(y_train)
from keras.utils import to_categorical
y_train = to_categorical(y_train)

In [328]:
x_train.shape

(256, 2)

In [329]:
y_train.shape

(256, 29)

In [331]:
from keras import models, layers

model = models.Sequential()
model.add(layers.Dense(256, activation='relu', input_shape=(2,)))
model.add(layers.Dense(128, activation='relu'))
model.add(layers.Dense(10, activation='softmax'))

In [332]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',  #poner funci√≥n especial
              metrics=['accuracy'])

In [333]:
model.fit(x_train, y_train, epochs=10)

Epoch 1/10

ValueError: in user code:

    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/keras/engine/training.py:805 train_function  *
        return step_function(self, iterator)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/keras/engine/training.py:795 step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/distribute/distribute_lib.py:1259 run
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/distribute/distribute_lib.py:2730 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/distribute/distribute_lib.py:3417 _call_for_each_replica
        return fn(*args, **kwargs)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/keras/engine/training.py:788 run_step  **
        outputs = model.train_step(data)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/keras/engine/training.py:755 train_step
        loss = self.compiled_loss(
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/keras/engine/compile_utils.py:203 __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/keras/losses.py:152 __call__
        losses = call_fn(y_true, y_pred)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/keras/losses.py:256 call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/util/dispatch.py:201 wrapper
        return target(*args, **kwargs)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/keras/losses.py:1537 categorical_crossentropy
        return K.categorical_crossentropy(y_true, y_pred, from_logits=from_logits)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/util/dispatch.py:201 wrapper
        return target(*args, **kwargs)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/keras/backend.py:4833 categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)
    /Users/Marta1/miniconda3/lib/python3.9/site-packages/tensorflow/python/framework/tensor_shape.py:1134 assert_is_compatible_with
        raise ValueError("Shapes %s and %s are incompatible" % (self, other))

    ValueError: Shapes (32, 29, 2) and (32, 10) are incompatible